---
---

@import "{{ site.theme }}";

body, H1, H2, H3, H4,H5, H6 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  color: black;

}

section {
  width: 70%;
  float: left;
}

#sidebar {
  width: 30%;
  float: right;
  
}
